
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  color: #6ec1ff;
  background: url('background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-top: 50px;
}

h1 {
  text-align: center;
  color: #52b2ff;
  margin-bottom: 30px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
}

.form-grid label {
  align-self: center;
}

.form-grid input {
  background-color: transparent;
  border: 1px solid #52b2ff;
  padding: 5px;
  color: #fff;
}

.full-width {
  grid-column: span 2;
}

button.delete {
  margin-top: 20px;
  padding: 10px 30px;
  background-color: #004080;
  color: #fff;
  border: none;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
